# Event based

## Import packages

In [1]:
from cartopy import config
import cartopy
import cartopy.crs as ccrs
import climtas
import cmocean
from collections import namedtuple
import dask.array
from datetime import datetime
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import scipy.stats
from scipy import stats
from scipy.stats import ttest_ind 
import seaborn as sns
import sparse
import xarray as xr

## Identifying heatwave events

In [2]:
#Point of interest for heatwave events in Hobart
lat = -43.00
lon = 148.25

In [3]:
# opening the input files with heatwave severity data 
thw = xr.open_dataset('/g/data/e14/cp3790/Charuni/Tasmania/aus-coastal-sev.nc').sel(latitude=lat, longitude=lon, method='nearest')
mhw = xr.open_dataset('/g/data/e14/cp3790/Charuni/Tasmania/aus-ocean-sev-2.nc').sel(latitude=lat, longitude=lon, method='nearest')

In [4]:
oisst = xr.open_dataset('/g/data/e14/cp3790/Charuni/NOAA-OISST/oisst_aus_time.nc').sel(lat=lat, lon=lon, method='nearest')

In [5]:
sst = oisst.sst

In [6]:
# using climtas.event.find_events to identify days where severity>1 for a minimum of 3 consecutive days 
thw_events = climtas.event.find_events(thw.severity > 1, min_duration = 3)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=13514.0), HTML(value='')))

In [7]:
# Create a sparse array with (coords, values, shape)
event_duration_array = sparse.COO(thw_events['time'], thw_events['event_duration'], shape=thw.severity.shape)
event_duration_da = xr.DataArray(event_duration_array, coords=thw.severity.coords)
event_duration_da

<xarray.DataArray (time: 13514)>
<COO: shape=(13514,), dtype=int64, nnz=161, fill_value=0>
Coordinates:
    latitude   float64 -43.0
  * time       (time) datetime64[ns] 1982-01-01 1982-01-02 ... 2018-12-31
    longitude  float64 148.2

In [8]:
def get_coords(da, events):
    # Convert the index values to coordinates
    coords = {}
    for d in da.dims:
        coords[d] = da[d].values[events[d].values]
    
    # Also work out when the event ends
    coords['time_end'] = da['time'].values[events['time'].values + events['event_duration'].values-1]
    #coords['event_duration'] = coords['time_end'] - coords['time'] 
    coords['event_duration'] = events['event_duration'].values
    
    return pd.DataFrame(coords, index=events.index)

In [9]:
thw_new = get_coords(event_duration_da, thw_events)
thw_new

          time   time_end  event_duration
0   1982-04-13 1982-04-15               3
1   1982-08-07 1982-08-09               3
2   1982-08-27 1982-08-29               3
3   1983-03-04 1983-03-06               3
4   1983-08-14 1983-08-16               3
..         ...        ...             ...
156 2018-02-06 2018-02-10               5
157 2018-09-13 2018-09-15               3
158 2018-10-14 2018-10-16               3
159 2018-12-15 2018-12-17               3
160 2018-12-26 2018-12-29               4

[161 rows x 3 columns]

In [10]:
# using climtas.event.find_events to identify days where severity>1 for a minimum of 5 consecutive days (MHW events)
mhw_events = climtas.event.find_events(mhw.severity > 1, min_duration = 5)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=13514.0), HTML(value='')))

In [11]:
mhw_duration_array = sparse.COO(mhw_events['time'], mhw_events['event_duration'], shape=mhw.severity.shape)
mhw_duration_da = xr.DataArray(event_duration_array, coords=mhw.severity.coords)
mhw_duration_da

<xarray.DataArray (time: 13514)>
<COO: shape=(13514,), dtype=int64, nnz=161, fill_value=0>
Coordinates:
    latitude   float64 -43.0
  * time       (time) datetime64[ns] 1982-01-01 1982-01-02 ... 2018-12-31
    longitude  float64 148.2

In [12]:
mhw_new = get_coords(mhw_duration_da, mhw_events)
mhw_new

          time   time_end  event_duration
0   1982-10-31 1982-11-07               8
1   1983-03-23 1983-03-27               5
2   1985-11-20 1985-12-06              17
3   1985-12-10 1985-12-23              14
4   1987-05-20 1987-05-24               5
..         ...        ...             ...
135 2018-08-11 2018-08-24              14
136 2018-10-15 2018-10-21               7
137 2018-10-26 2018-11-08              14
138 2018-11-25 2018-12-04              10
139 2018-12-20 2018-12-31              12

[140 rows x 3 columns]

In [13]:
mhw_new.rename(columns={"time": "time_mhw", "time_end": "time_end_mhw", "event_duration": "event_duration_mhw"}, inplace=True)
mhw_new

      time_mhw time_end_mhw  event_duration_mhw
0   1982-10-31   1982-11-07                   8
1   1983-03-23   1983-03-27                   5
2   1985-11-20   1985-12-06                  17
3   1985-12-10   1985-12-23                  14
4   1987-05-20   1987-05-24                   5
..         ...          ...                 ...
135 2018-08-11   2018-08-24                  14
136 2018-10-15   2018-10-21                   7
137 2018-10-26   2018-11-08                  14
138 2018-11-25   2018-12-04                  10
139 2018-12-20   2018-12-31                  12

[140 rows x 3 columns]

## Stand-alone MHW

In [16]:
# Finding the co-occurring MHWs first  

Range = namedtuple('Range', ['start', 'end'])
mhw_mod = pd.DataFrame(columns=['time', 'time_end', 'event_duration'])
for t in range (thw_new.shape[0]):
    for m in range(mhw_new.shape[0]):
        thw = Range(start=thw_new['time'].iloc[t], end=thw_new['time_end'].iloc[t])
        mhw = Range(start=mhw_new['time_mhw'].iloc[m], end=mhw_new['time_end_mhw'].iloc[m])
        if thw.start >= mhw.start and mhw.end >= thw.end:
            mhw_mod = mhw_mod.append([{'time':mhw_new['time_mhw'].iloc[m], 'time_end':mhw_new['time_end_mhw'].iloc[m], 'event_duration':mhw_new['event_duration_mhw'].iloc[m]}], ignore_index=True)

In [17]:
mhw_mod

         time   time_end event_duration
0  1988-05-03 1988-07-03             62
1  1988-05-03 1988-07-03             62
2  1988-07-06 1988-07-17             12
3  1988-07-06 1988-07-17             12
4  1988-07-20 1988-08-08             20
..        ...        ...            ...
66 2017-11-14 2018-01-11             59
67 2018-01-13 2018-02-16             35
68 2018-01-13 2018-02-16             35
69 2018-01-13 2018-02-16             35
70 2018-12-20 2018-12-31             12

[71 rows x 3 columns]

In [18]:
co_events_mhw = mhw_mod.reset_index()
co_events_mhw

    index       time   time_end event_duration
0       0 1988-05-03 1988-07-03             62
1       1 1988-05-03 1988-07-03             62
2       2 1988-07-06 1988-07-17             12
3       3 1988-07-06 1988-07-17             12
4       4 1988-07-20 1988-08-08             20
..    ...        ...        ...            ...
66     66 2017-11-14 2018-01-11             59
67     67 2018-01-13 2018-02-16             35
68     68 2018-01-13 2018-02-16             35
69     69 2018-01-13 2018-02-16             35
70     70 2018-12-20 2018-12-31             12

[71 rows x 4 columns]

In [19]:
co_events_mhw = co_events_mhw.rename(columns={"time":"time_mhw", "time_end":"time_end_mhw", "event_duration":"event_duration_mhw"})
co_events_mhw

    index   time_mhw time_end_mhw event_duration_mhw
0       0 1988-05-03   1988-07-03                 62
1       1 1988-05-03   1988-07-03                 62
2       2 1988-07-06   1988-07-17                 12
3       3 1988-07-06   1988-07-17                 12
4       4 1988-07-20   1988-08-08                 20
..    ...        ...          ...                ...
66     66 2017-11-14   2018-01-11                 59
67     67 2018-01-13   2018-02-16                 35
68     68 2018-01-13   2018-02-16                 35
69     69 2018-01-13   2018-02-16                 35
70     70 2018-12-20   2018-12-31                 12

[71 rows x 4 columns]

In [20]:
del co_events_mhw['index']
co_events_mhw

     time_mhw time_end_mhw event_duration_mhw
0  1988-05-03   1988-07-03                 62
1  1988-05-03   1988-07-03                 62
2  1988-07-06   1988-07-17                 12
3  1988-07-06   1988-07-17                 12
4  1988-07-20   1988-08-08                 20
..        ...          ...                ...
66 2017-11-14   2018-01-11                 59
67 2018-01-13   2018-02-16                 35
68 2018-01-13   2018-02-16                 35
69 2018-01-13   2018-02-16                 35
70 2018-12-20   2018-12-31                 12

[71 rows x 3 columns]

In [21]:
co_events_mhw['time'] = ((co_events_mhw.time_mhw - (pd.to_datetime('1982-1-1')))/np.timedelta64(1, 'D')).astype(int)
co_events_mhw

     time_mhw time_end_mhw event_duration_mhw   time
0  1988-05-03   1988-07-03                 62   2314
1  1988-05-03   1988-07-03                 62   2314
2  1988-07-06   1988-07-17                 12   2378
3  1988-07-06   1988-07-17                 12   2378
4  1988-07-20   1988-08-08                 20   2392
..        ...          ...                ...    ...
66 2017-11-14   2018-01-11                 59  13101
67 2018-01-13   2018-02-16                 35  13161
68 2018-01-13   2018-02-16                 35  13161
69 2018-01-13   2018-02-16                 35  13161
70 2018-12-20   2018-12-31                 12  13502

[71 rows x 4 columns]

In [22]:
co_events_mhw = co_events_mhw.rename(columns={"event_duration_mhw":"event_duration"})
del co_events_mhw['time_mhw']
del co_events_mhw['time_end_mhw']
co_events_mhw

   event_duration   time
0              62   2314
1              62   2314
2              12   2378
3              12   2378
4              20   2392
..            ...    ...
66             59  13101
67             35  13161
68             35  13161
69             35  13161
70             12  13502

[71 rows x 2 columns]

In [23]:
co_events_mhw = co_events_mhw[['time', 'event_duration']]
co_events_mhw

     time event_duration
0    2314             62
1    2314             62
2    2378             12
3    2378             12
4    2392             20
..    ...            ...
66  13101             59
67  13161             35
68  13161             35
69  13161             35
70  13502             12

[71 rows x 2 columns]

In [24]:
co_max_sst = climtas.event.map_events(sst, co_events_mhw, lambda x: {'max_sst': x.max().item(), 'time_peak_mhw': x.idxmax().values})
co_max_sst

      max_sst       time_peak_mhw
0   17.410000 1988-05-13 12:00:00
1   17.410000 1988-05-13 12:00:00
2   14.200000 1988-07-12 12:00:00
3   14.200000 1988-07-12 12:00:00
4   14.170000 1988-07-23 12:00:00
..        ...                 ...
66  18.670000 2017-12-29 12:00:00
67  20.039999 2018-02-07 12:00:00
68  20.039999 2018-02-07 12:00:00
69  20.039999 2018-02-07 12:00:00
70  18.260000 2018-12-31 12:00:00

[71 rows x 2 columns]

In [25]:
co_max_sst['time_peak_mhw'] = co_max_sst['time_peak_mhw'].dt.date.astype('datetime64')
co_max_sst

      max_sst time_peak_mhw
0   17.410000    1988-05-13
1   17.410000    1988-05-13
2   14.200000    1988-07-12
3   14.200000    1988-07-12
4   14.170000    1988-07-23
..        ...           ...
66  18.670000    2017-12-29
67  20.039999    2018-02-07
68  20.039999    2018-02-07
69  20.039999    2018-02-07
70  18.260000    2018-12-31

[71 rows x 2 columns]

In [33]:
co_events_mhw = mhw_mod.reset_index()
co_events_mhw = co_events_mhw.rename(columns={"time":"time_mhw", "time_end":"time_end_mhw", "event_duration":"event_duration_mhw"})
del co_events_mhw['index']

In [34]:
co_mhw_peak = co_events_mhw.join(co_max_sst)
co_mhw_peak

     time_mhw time_end_mhw event_duration_mhw    max_sst time_peak_mhw
0  1988-05-03   1988-07-03                 62  17.410000    1988-05-13
1  1988-05-03   1988-07-03                 62  17.410000    1988-05-13
2  1988-07-06   1988-07-17                 12  14.200000    1988-07-12
3  1988-07-06   1988-07-17                 12  14.200000    1988-07-12
4  1988-07-20   1988-08-08                 20  14.170000    1988-07-23
..        ...          ...                ...        ...           ...
66 2017-11-14   2018-01-11                 59  18.670000    2017-12-29
67 2018-01-13   2018-02-16                 35  20.039999    2018-02-07
68 2018-01-13   2018-02-16                 35  20.039999    2018-02-07
69 2018-01-13   2018-02-16                 35  20.039999    2018-02-07
70 2018-12-20   2018-12-31                 12  18.260000    2018-12-31

[71 rows x 5 columns]

In [35]:
co_mhw_peak = co_mhw_peak.drop_duplicates()
co_mhw_peak

     time_mhw time_end_mhw event_duration_mhw    max_sst time_peak_mhw
0  1988-05-03   1988-07-03                 62  17.410000    1988-05-13
2  1988-07-06   1988-07-17                 12  14.200000    1988-07-12
4  1988-07-20   1988-08-08                 20  14.170000    1988-07-23
5  1988-09-07   1988-09-18                 12  13.450000    1988-09-14
6  1999-09-26   1999-10-17                 22  14.270000    1999-10-09
7  2000-09-12   2000-09-19                  8  14.540000    2000-09-17
8  2000-11-23   2000-12-22                 30  17.840000    2000-12-18
10 2001-01-24   2001-02-12                 20  19.549999    2001-02-03
12 2001-06-29   2001-08-17                 50  15.000000    2001-07-17
13 2001-08-26   2001-09-19                 25  14.219999    2001-09-14
14 2001-09-24   2001-10-13                 20  14.219999    2001-10-03
15 2002-12-25   2003-02-16                 54  18.869999    2003-02-04
16 2003-02-19   2003-03-21                 31  19.439999    2003-03-01
17 2004-10-05   2004-10-14                 10  13.460000    2004-10-12
18 2005-10-23   2005-11-14                 23  15.370000    2005-11-10
20 2007-07-22   2007-09-03                 44  14.030000    2007-08-06
23 2007-11-11   2007-12-21                 41  17.199999    2007-12-06
27 2007-12-23   2008-01-10                 19  18.270000    2008-01-10
28 2008-11-07   2008-11-11                  5  14.759999    2008-11-11
29 2009-11-03   2009-11-09                  7  15.360000    2009-11-09
30 2010-01-23   2010-03-24                 61  20.939999    2010-02-10
34 2011-08-25   2011-09-26                 33  13.710000    2011-09-26
35 2011-10-11   2011-11-12                 33  15.480000    2011-11-05
36 2011-12-19   2012-02-05                 49  19.910000    2012-01-29
39 2012-02-20   2012-02-28                  9  19.670000    2012-02-25
40 2013-07-23   2013-07-31                  9  13.910000    2013-07-28
41 2013-08-11   2013-09-04                 25  13.509999    2013-09-03
42 2013-09-11   2013-10-08                 28  13.570000    2013-09-21
43 2014-12-10   2014-12-16                  7  16.410000    2014-12-15
44 2015-08-29   2015-11-26                 90  16.340000    2015-11-24
48 2015-12-01   2016-05-20                172  20.639999    2016-02-07
59 2017-01-02   2017-02-09                 39  19.469999    2017-01-29
62 2017-10-25   2017-10-31                  7  14.650000    2017-10-31
63 2017-11-14   2018-01-11                 59  18.670000    2017-12-29
67 2018-01-13   2018-02-16                 35  20.039999    2018-02-07
70 2018-12-20   2018-12-31                 12  18.260000    2018-12-31

In [36]:
co_mhw_peak = co_mhw_peak.reset_index()
co_mhw_peak

    index   time_mhw time_end_mhw event_duration_mhw    max_sst time_peak_mhw
0       0 1988-05-03   1988-07-03                 62  17.410000    1988-05-13
1       2 1988-07-06   1988-07-17                 12  14.200000    1988-07-12
2       4 1988-07-20   1988-08-08                 20  14.170000    1988-07-23
3       5 1988-09-07   1988-09-18                 12  13.450000    1988-09-14
4       6 1999-09-26   1999-10-17                 22  14.270000    1999-10-09
5       7 2000-09-12   2000-09-19                  8  14.540000    2000-09-17
6       8 2000-11-23   2000-12-22                 30  17.840000    2000-12-18
7      10 2001-01-24   2001-02-12                 20  19.549999    2001-02-03
8      12 2001-06-29   2001-08-17                 50  15.000000    2001-07-17
9      13 2001-08-26   2001-09-19                 25  14.219999    2001-09-14
10     14 2001-09-24   2001-10-13                 20  14.219999    2001-10-03
11     15 2002-12-25   2003-02-16                 54  18.869999    2003-02-04
12     16 2003-02-19   2003-03-21                 31  19.439999    2003-03-01
13     17 2004-10-05   2004-10-14                 10  13.460000    2004-10-12
14     18 2005-10-23   2005-11-14                 23  15.370000    2005-11-10
15     20 2007-07-22   2007-09-03                 44  14.030000    2007-08-06
16     23 2007-11-11   2007-12-21                 41  17.199999    2007-12-06
17     27 2007-12-23   2008-01-10                 19  18.270000    2008-01-10
18     28 2008-11-07   2008-11-11                  5  14.759999    2008-11-11
19     29 2009-11-03   2009-11-09                  7  15.360000    2009-11-09
20     30 2010-01-23   2010-03-24                 61  20.939999    2010-02-10
21     34 2011-08-25   2011-09-26                 33  13.710000    2011-09-26
22     35 2011-10-11   2011-11-12                 33  15.480000    2011-11-05
23     36 2011-12-19   2012-02-05                 49  19.910000    2012-01-29
24     39 2012-02-20   2012-02-28                  9  19.670000    2012-02-25
25     40 2013-07-23   2013-07-31                  9  13.910000    2013-07-28
26     41 2013-08-11   2013-09-04                 25  13.509999    2013-09-03
27     42 2013-09-11   2013-10-08                 28  13.570000    2013-09-21
28     43 2014-12-10   2014-12-16                  7  16.410000    2014-12-15
29     44 2015-08-29   2015-11-26                 90  16.340000    2015-11-24
30     48 2015-12-01   2016-05-20                172  20.639999    2016-02-07
31     59 2017-01-02   2017-02-09                 39  19.469999    2017-01-29
32     62 2017-10-25   2017-10-31                  7  14.650000    2017-10-31
33     63 2017-11-14   2018-01-11                 59  18.670000    2017-12-29
34     67 2018-01-13   2018-02-16                 35  20.039999    2018-02-07
35     70 2018-12-20   2018-12-31                 12  18.260000    2018-12-31

In [37]:
co_mhw_buildup = co_mhw_peak[['time_mhw', 'time_peak_mhw']].copy()
co_mhw_buildup

     time_mhw time_peak_mhw
0  1988-05-03    1988-05-13
1  1988-07-06    1988-07-12
2  1988-07-20    1988-07-23
3  1988-09-07    1988-09-14
4  1999-09-26    1999-10-09
5  2000-09-12    2000-09-17
6  2000-11-23    2000-12-18
7  2001-01-24    2001-02-03
8  2001-06-29    2001-07-17
9  2001-08-26    2001-09-14
10 2001-09-24    2001-10-03
11 2002-12-25    2003-02-04
12 2003-02-19    2003-03-01
13 2004-10-05    2004-10-12
14 2005-10-23    2005-11-10
15 2007-07-22    2007-08-06
16 2007-11-11    2007-12-06
17 2007-12-23    2008-01-10
18 2008-11-07    2008-11-11
19 2009-11-03    2009-11-09
20 2010-01-23    2010-02-10
21 2011-08-25    2011-09-26
22 2011-10-11    2011-11-05
23 2011-12-19    2012-01-29
24 2012-02-20    2012-02-25
25 2013-07-23    2013-07-28
26 2013-08-11    2013-09-03
27 2013-09-11    2013-09-21
28 2014-12-10    2014-12-15
29 2015-08-29    2015-11-24
30 2015-12-01    2016-02-07
31 2017-01-02    2017-01-29
32 2017-10-25    2017-10-31
33 2017-11-14    2017-12-29
34 2018-01-13    2018-02-07
35 2018-12-20    2018-12-31

In [38]:
co_mhw_buildup['event_duration'] = (co_mhw_buildup['time_peak_mhw'] - co_mhw_buildup['time_mhw']).dt.days+1
co_mhw_buildup['time'] = ((co_mhw_buildup['time_mhw'] - (pd.to_datetime('1982-1-1')))/np.timedelta64(1, 'D')).astype(int)
co_mhw_buildup

     time_mhw time_peak_mhw  event_duration   time
0  1988-05-03    1988-05-13              11   2314
1  1988-07-06    1988-07-12               7   2378
2  1988-07-20    1988-07-23               4   2392
3  1988-09-07    1988-09-14               8   2441
4  1999-09-26    1999-10-09              14   6477
5  2000-09-12    2000-09-17               6   6829
6  2000-11-23    2000-12-18              26   6901
7  2001-01-24    2001-02-03              11   6963
8  2001-06-29    2001-07-17              19   7119
9  2001-08-26    2001-09-14              20   7177
10 2001-09-24    2001-10-03              10   7206
11 2002-12-25    2003-02-04              42   7663
12 2003-02-19    2003-03-01              11   7719
13 2004-10-05    2004-10-12               8   8313
14 2005-10-23    2005-11-10              19   8696
15 2007-07-22    2007-08-06              16   9333
16 2007-11-11    2007-12-06              26   9445
17 2007-12-23    2008-01-10              19   9487
18 2008-11-07    2008-11-11               5   9807
19 2009-11-03    2009-11-09               7  10168
20 2010-01-23    2010-02-10              19  10249
21 2011-08-25    2011-09-26              33  10828
22 2011-10-11    2011-11-05              26  10875
23 2011-12-19    2012-01-29              42  10944
24 2012-02-20    2012-02-25               6  11007
25 2013-07-23    2013-07-28               6  11526
26 2013-08-11    2013-09-03              24  11545
27 2013-09-11    2013-09-21              11  11576
28 2014-12-10    2014-12-15               6  12031
29 2015-08-29    2015-11-24              88  12293
30 2015-12-01    2016-02-07              69  12387
31 2017-01-02    2017-01-29              28  12785
32 2017-10-25    2017-10-31               7  13081
33 2017-11-14    2017-12-29              46  13101
34 2018-01-13    2018-02-07              26  13161
35 2018-12-20    2018-12-31              12  13502

In [39]:
def trend_function(y,ytime):
    intercept = scipy.stats.linregress(ytime, y)[0]
    return intercept

In [40]:
trend_sst = climtas.event.map_events(sst, co_mhw_buildup, trend_function, sst.time)
trend_sst

UFuncTypeError: ufunc 'add' cannot use operands with types dtype('<M8[ns]') and dtype('<M8[ns]')